# Flutter related
**/build/
!admin_panal/build/web/**
admin_panal/build/web/.env.local
admin_panal/build/web/.vercel/
**/.dart_tool/
**/.idea/
**/.vscode/
*.iml
*.lock
*.log
admin_panal/lib/utility/constants.dart
client_app/lib/utility/constants.dart
# macOS
.DS_Store

# Node.js backend (if applicable)
**/node_modules/

# Secrets
.env

lib/utility/constants.dart

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

